<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Waypoints in directions</title>
    <link rel="stylesheet" href="../static/css/styling.css">
  </head>
  <body>
    <div id="right-panel">
      <ul id="list"></ul>
    </div>

    <div id="map"></div>
    <script
          src="https://code.jquery.com/jquery-3.3.0.js"
          integrity="sha256-TFWSuDJt6kS+huV+vVlyV1jM3dwGdeNWqezhTxXB/X8="
          crossorigin="anonymous">
    </script>
    <script type=text/javascript>

      var fixed={{fixedpts|safe}};
      var waypts1={{waypts|safe}};
      
      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: 27.02, lng: 74.22}
        });
        directionsDisplay.setMap(map);
        calculateAndDisplayRoute(directionsService, directionsDisplay);
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var waypts = [];
        for (var i = 0; i < waypts1.length; i++) {
            waypts.push({
              location: waypts1[i],
              stopover: true
            });
          //}
        }

        directionsService.route({
          origin: fixed[0],
          destination: fixed[1],
          waypoints: waypts,
          optimizeWaypoints: true,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
            var route = response.routes[0];
            $('#list').append( '<li ><div class="place">'+route.legs[0].start_address+'</div></li>' );

            for (var i = 0; i < route.legs.length; i++) {
              $('#list').append( '<li>'+ 'Drive to ' + route.legs[i].end_address + ' :'    +route.legs[i].distance.text + '</li>' );
                  
              $('#list').append( '<li><div class="place">'+route.legs[i].end_address+'</div></li>' );

            }
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI748dC0b1I8V0_rXYF6THlEiB1QseBBg&callback=initMap">
    </script>
  </body>
</html>